<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>capa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,200},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>capa10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{142,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,55}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>capa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,345},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>capa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>capa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{142,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,55}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>capa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{142,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,55}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>capa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{142,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,55}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>capa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,341},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>capa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,345},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>capa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,59},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>capa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,56}}</string>
                <key>sourceSize</key>
                <string>{142,56}</string>
            </dict>
            <key>capa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{142,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,55}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>capatostada1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>rainbowpeque.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{50,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NCat.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>NCat.png</string>
        </dict>
    </dict>
</plist>
